.oj-label label{
    color: rgba(0, 0, 0, 1) !important;
}

.oj-table-column-header-cell{
    color:white !important;
}

.oj-button-button{
    background-color:  white !important;
}
.oj-table-header, .oj-table:not(.oj-focus) .oj-table-column-header-cell.oj-selected, .oj-table-header .oj-selected, .oj-table-header .oj-focus, .oj-table-header .oj-hover{
    background-color: #28398e !important;
}

.oj-inputtext-input{
    background-color: white !important;
}
.activity-popup
{    
    top:60px !important;
}
